.section.eighth
	.interesting.container
		h2.interesting-title bu qiziqarli

		.interesting-header
			p.interesting-header__title Troposfera, yaʼni bizga tanish osmonimizning turli balandliklarida nimalarni koʻrishimiz mumkin?
			p.interesting-header__distance Balandlik

		.interesting-content
			include ../interesting-items/distance20.pug
			include ../interesting-items/distance18.pug
			include ../interesting-items/distance16.pug
			include ../interesting-items/distance14.pug
			include ../interesting-items/distance12.pug
			include ../interesting-items/distance10.pug
			include ../interesting-items/distance8.pug
			include ../interesting-items/distance6.pug
			include ../interesting-items/distance4.pug
			include ../interesting-items/distance2.pug
			include ../interesting-items/distance1.pug
			include ../interesting-items/distance700.pug
			include ../interesting-items/distance500.pug
			include ../interesting-items/distance100.pug

	//- include ../conclusion/conclusion.pug
