.section.eighth
	.interesting.container
		h2.interesting-title это интересно

		.interesting-header
			p.interesting-header__title Давайте рассмотрим что можно увидеть на разных высотах Тропосферы ( привычного нам Неба )
			p.interesting-header__distance Расстояние от земли

		.interesting-content
			include ../interesting-items/distance20.pug
			include ../interesting-items/distance18.pug
			include ../interesting-items/distance16.pug
			include ../interesting-items/distance14.pug
			include ../interesting-items/distance12.pug
			include ../interesting-items/distance10.pug
			include ../interesting-items/distance8.pug
			include ../interesting-items/distance6.pug
			include ../interesting-items/distance4.pug
			include ../interesting-items/distance2.pug
			include ../interesting-items/distance1.pug
			include ../interesting-items/distance700.pug
			include ../interesting-items/distance500.pug
			include ../interesting-items/distance100.pug

	//- include ../conclusion/conclusion.pug
