.section.eighth
	.interesting.container
		h2.interesting-title это интересно

		.interesting-header
			p.interesting-header__title Давайте рассмотрим что можно увидеть на разных высотах Тропосферы ( привычного нам Неба )
			p.interesting-header__distance Расстояние от земли

		.interesting-content
			include ../interesting-item/item.pug
			include ../interesting-item/item.pug
			include ../interesting-item/item.pug

	//- include ../conclusion/conclusion.pug
