*
	padding: 0
	margin: 0
	box-sizing: border-box

html
	color: $white
	font-family: 'SF-Pro'

body
	overflow: hidden
	&.overflow
		overflow: hidden !important

.gradient-link
	display: flex
	align-items: center
	gap: 10px
	max-width: max-content
	margin-top: clamp(12px , 3vw, 30px)

	p
		font-weight: 900
		font-size: clamp(18px, 4vw, 22px)

	img
		user-select: none
		display: block

	&.primary
		p
			+gradient-text-color

	&.secondary
		p
			+blue-gradient-text

.decoration
	position: absolute
	z-index: 10
	user-select: none
	pointer-events: none
	width: 100%
	height: 100%
	object-fit: scale-down
	opacity: 0

	@include customMax(1599px)
		display: none

	&-text
		opacity: 0


.meteor
	right: -45%
	top: -25%

	&-text
		position: absolute
		font-family: 'BadScript'
		line-height: 1.2
		font-style: italic
		font-size: 35px
		+decor-text
		display: none

		@include xxxl
			display: block
			right: 200px
			top: 50px

.satellite
	right: -40%
	top: -10%

	&-text
		position: absolute
		font-family: 'BadScript'
		font-style: italic
		font-size: 35px
		+decor-text
		display: none
		line-height: 1.4

		@include xxxl
			display: block
			right: 50px
			bottom: 25%

.lights
	right: -35%
	top: 0

	&-text
		position: absolute
		line-height: 1.4
		font-family: 'BadScript'
		font-style: italic
		font-size: 35px
		+decor-text
		display: none

		@include xxxl
			display: block
			right: 150px
			bottom: 25%
.stars
	right: -35%
	top: 0

	&-text
		position: absolute
		line-height: 1.6
		font-family: 'BadScript'
		font-style: italic
		font-size: 35px
		+decor-text
		display: none

		@include xxxl
			display: block
			right: 100px
			bottom: 25%

.aerostat
	right: -40%
	top: -10%

	&-text
		position: absolute
		line-height: 1.6
		font-family: 'BadScript'
		font-style: italic
		font-size: 35px
		+blue-link-color
		display: none

		@include xxxl
			display: block
			right: 150px
			bottom: 25%

.everest
	&-text
		position: absolute
		line-height: 1.6
		font-family: 'BadScript'
		font-style: italic
		font-size: 35px
		+blue-link-color
		display: none

		@include xxxl
			display: block
			right: 0
			top: 50px

.fp-watermark
	display: none !important

.up
	position: fixed
	display: flex
	align-items: center
	justify-content: center
	bottom: 30px
	right: 30px
	border-radius: 50px
	width: 50px
	height: 50px
	font-size: 16px
	font-family: 'Gilroy'
	font-weight: 900

	z-index: 5
	border: none
	text-transform: uppercase
	background: -webkit-linear-gradient(45deg,#A473F3,#A277F5,#7D79FE,#5374FB)
