// Gilroy
@font-face
	font-family: 'Gilroy'
	src: url('../fonts/gilroy/Gilroy-Medium.woff2')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'Gilroy'
	src: url('../fonts/gilroy/Gilroy-Bold.woff2')
	font-weight: 700
	font-style: normal

@font-face
	font-family: 'Gilroy'
	src: url('../fonts/gilroy/Gilroy-Extrabold.woff2')
	font-weight: 800
	font-style: normal

@font-face
	font-family: 'Gilroy'
	src: url('../fonts/gilroy/Gilroy-Black.woff2')
	font-weight: 900
	font-style: normal

// SF-Pro
@font-face
	font-family: 'SF-Pro'
	src: url('../fonts/sf-pro/SFProDisplay-Light.woff2')
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'SF-Pro'
	src: url('../fonts/sf-pro/SFProDisplay-Regular.woff2')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'SF-Pro'
	src: url('../fonts/sf-pro/SFProDisplay-Medium.woff2')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'SF-Pro'
	src: url('../fonts/sf-pro/SFProDisplay-Black.woff2')
	font-weight: 900
	font-style: normal

@font-face
	font-family: 'SF-Pro'
	src: url('../fonts/sf-pro/SF-Pro-Display-Semibold.woff2')
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'SF-Pro'
	src: url('../fonts/sf-pro/SF-Pro-Display-Bold.woff2')
	font-weight: 700
	font-style: normal

// Bad Script
@font-face
	font-family: 'BadScript'
	src: url('../fonts/bad-script/BadScript-Regular.woff2')
	font-weight: 400
	font-style: normal
