=limit-line($numLines: 1)
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden

	@supports (-webkit-line-clamp: $numLines)
		overflow: hidden
		text-overflow: ellipsis
		white-space: initial
		display: -webkit-box
		-webkit-line-clamp: $numLines
		-webkit-box-orient: vertical

=gradient-nav-link()
	background: -webkit-linear-gradient(45deg,rgba(0, 238, 255, 1), rgba(255, 255, 255, 1))
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

=blue-text-outlined()
	background: linear-gradient(91deg, rgba(0, 84, 149, 0.60) 4.02%, rgba(16, 120, 199, 0.60) 63.5%, rgba(0, 57, 168, 0.60) 127.35%)
	background-clip: text
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	-webkit-text-stroke: 1px rgb(16, 120, 199)

=blue-gradient-text()
	background: linear-gradient(91deg, rgba(0, 84, 149, 1) 4.02%, rgba(16, 120, 199, 1) 63.5%, rgba(0, 57, 168, 1) 127.35%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

=gradient-text-color()
	background: -webkit-linear-gradient(45deg,#A473F3,#A277F5,#7D79FE,#5374FB)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

=decor-text
	background: -webkit-linear-gradient(45deg,rgba(164, 115, 243, 1),rgba(162, 119, 245, 1),rgba(125, 121, 254, 1),rgba(83, 116, 251, 1))
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

=blue-text-color()
	background: linear-gradient(91deg, rgba(0, 84, 149, 0.60) 4.02%, rgba(16, 120, 199, 0.60) 63.5%, rgba(0, 57, 168, 0.60) 127.35%)
	background-clip: text
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

=blue-link-color()
	background: linear-gradient(91deg, rgb(0, 84, 149) 4.02%, rgb(16, 120, 199) 63.5%, rgba(0, 57, 168) 127.35%)
	background-clip: text
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

=dark-blue-link-color()
	background: linear-gradient(91deg, rgb(0, 84, 149) 4.02%, rgb(16, 120, 199) 63.5%, rgba(0, 57, 168) 127.35%)
	background-clip: text
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

=blue-nav-color()
	background: -webkit-linear-gradient(45deg,#005495, #1078C7,#0039A8)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

@mixin background-image($url)
	background-image: url($url)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

@mixin before-bg-image($url,$opacity: 1)
	content: ''
	display: block
	position: absolute
	inset: 0
	z-index: 10
	user-select: none
	pointer-events: none
	opacity: $opacity
	@include background-image($url)

// Media queries
@mixin sm
	@media (min-width: $sm)
		@content

@mixin md
	@media (min-width: $md)
		@content

@mixin lg
	@media (min-width: $lg)
		@content

@mixin xl
	@media (min-width: $xl)
		@content

@mixin xxl
	@media (min-width: $xxl)
		@content

@mixin xxxl
	@media (min-width: $xxxl)
		@content

@mixin xxxxl
	@media (min-width: $xxxxl)
		@content

@mixin customMin($breakpoint)
	@media (min-width: $breakpoint)
		@content

@mixin customMax($breakpoint)
	@media (max-width: $breakpoint)
		@content