a.tag(href='#')
  .tag-image
    img(src='./img/tag.png', alt='image')

    .tag-image__overlay
      img(src='./img/file-icon.svg', alt='file')
      //- img(src='./img/play-icon.svg', alt='play')
  div
    p Yer atmosferasi
