.modal-actions
  .views
    div
      img(src='./img/view.svg', alt='view', draggable='false')
      p 1.5 K
    p.title Просмотры

  .like
    button(type='button')
      img(src='./img/heart-outlined.svg', alt='heart-outlined')
      p 1.5 K
    p.title Нравится

  .share
    button(type='button')
      img.share-icon(src='./img/share.svg', alt='share')
      img.tick-icon(src='./img/tick.svg', alt='tick')
    p.title Поделиться
