aside
	ul#menu
		li
			a(href='#atmosphere', data-menuanchor='atmosphere') Atmosfera
		li
			a(href='#exosphere', data-menuanchor='exosphere') Ekzosfera
		li
			a(href='#thermosphere', data-menuanchor='thermosphere') Termosfera
		li
			a(href='#mesosphere', data-menuanchor='mesosphere') Mezosfera
		li
			a(href='#stratosphere', data-menuanchor='stratosphere') Stratosfera
		li
			a(href='#troposphere', data-menuanchor='troposphere') Troposfera
		li
			img(src='./img/earth.svg', draggable='false')
		li
			a(href='#') Sinaps
