.section.fifth
	img.stars.decoration(src='./img/stars.png', alt='stars', draggable='false')

	.stars-text
		p *Здесь формируется
		| звездопад

	.container
		.mesosphere
			h2.mesosphere-title Mezosfera

			.statistic
				.statistic-item
					p Yerdan masofa:
					p 40–90 km
				.statistic-item
					p Harorat:
					p −80 dan 0 °C gacha

			.mesosphere-description
				p Mezosfera soʻzi qadimgi yunonchadan μεσο (mezo) — “oʻrta” va σφαῖρα (sfaera) — “shar”, “sfera” soʻzlaridan olingan.

				p Mezosfera 5 ta qatlamning eng oʻrtasida joylashgan. U atmosferaning dengiz sathidan 40–90 km balandlikni oʻz ichiga oladi. Mezosferaning asosiy xususiyatlari quyidagilar:

				ul
					li — juda sovuq: mezosferaning pastki chegarasida harorat 0 °C boʻlsa, yuqori chegarasida taxminan −80 °C ni tashkil etadi. Mezosfera boʻylab yuqorilagan sari Quyosh nurlari radiatsiyasi yutilishi kamayib boradi va harorat tushib boraveradi
					li — gaz bosimi oʻta past (Yer sirtidagidan taxminan 10 000 marta past)
					li — koʻtarish kuchi juda past boʻlgani uchun havo massasi harakatlanmaydi.

			a.gradient-link.primary(href='#')
				p Batafsil
				img(src='./img/link-right-arrow.svg', alt='arrow')
				input.link-id(type='hidden', value='4')

			.tags
				a.tag.primary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Yer atmosferasi

				a.tag.primary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/play-icon.svg', alt='play')
					div
						p Yer atmosferasi

				a.tag.primary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Yer atmosferasi

				a.tag.primary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Yer atmosferasi
