.section.fifth
  //- img.stars(src='./img/stars.png', alt='stars', draggable='false')

  .container
    .mesosphere
      h2.mesosphere-title Мезосфера

      include ../../statistic/statistic.pug

      .mesosphere-description
        p Свое название она получила от древнегреческих слов μεσο − «средний» и σφαῖρα − «шар», «сфера» . Мезосфера характеризуется понижением температуры с высотой, что связано с уменьшением поглощения солнечной радиации разреженным воздухом.

        p Мезосфера отделяется от нижележащей стратосферы стратопаузой, а от вышележащей термосферы — мезопаузой. Мезопауза в основном совпадает с турбопаузой. Точные верхние и нижние границы мезосферы изменяются в зависимости от широты и времени года (выше зимой и в тропиках, ниже летом и на полюсах).

        p Стратосферу и мезосферу иногда в совокупности называют «средней атмосферой», которая охватывает высоты примерно от 10 до 100 километров над поверхностью...

      include ../../gradient-link/gradient-link
      include ../../tags/tags
