block modalHtml
	.modal
		include ../buttons/close-button.pug

		.modal-content
			//- include ../buttons/modal-actions.pug

			.progress-bar
				h3#modal-title.title Атмосфера
				.line
				button.close(type='button')
					img(src='./img/close-icon.svg', alt='close')

			//- .overlay-top
			.overlay-bottom

			#modal-scroll.modal-content__text
				.modal-content__description

				//- img(alt='modal', draggable='false')

				include ../tags/tags.pug

				a.next-sphere(href='#') *Keyingi sfera
