block modalHtml
  .modal
    include ../buttons/close-button.pug

    .modal-content
      include ../buttons/modal-actions.pug

      .progress-bar
        h3.title Атмосфера
        .line
        button.close(type='button')
          img(src='./img/close-icon.svg', alt='close')

      #modal-scroll.modal-content__text
        p Атмосфера – это плотный слой воздуха в котором окутана наша планета. Без атмосферы на Земле не было бы жизни, потому что живым существам нечем было бы дышать. Воздушная оболочка влияет на климат на планете, защищает Землю от испепеляющего солнечного жара и космического холода. Если бы Земля не была покрыта воздушной оболочкой, человечество страдало бы от небесных снарядов - метеоритов. Прежде чем упасть на землю, метеориты сталкиваются со пятью слоями атмосферы, их полет замедляется, они раскаляются и сгорают, не причиняя землянам вреда. Прежде чем упасть на землю, метеориты сталкиваются со пятью слоями атмосферы, их полет замедляется, они раскаляются и сгорают, не причиняя землянам вреда.

        p Прежде чем упасть на землю, метеориты сталкиваются со пятью слоями атмосферы, их полет замедляется, они раскаляются и сгорают, не причиняя землянам вреда оболочка вл. Прежде чем упасть на землю, метеориты сталкиваются со пятью слоями атмосферы, их полет замедляется, они раскаляются и сгорают, не причиняя землянам вреда. Прежде чем упасть на землю, метеориты сталкиваются со пятью слоями атмосферы, их полет замедляется, они раскаляются и сгорают, не причиняя землянам вреда. Прежде чем упасть на землю, метеориты сталкиваются со пятью слоями атмосферы, их полет замедляется, они раскаляются и сгорают, не причиняя землянам вреда оболочка.

        p Прежде чем упасть на землю, метеориты сталкиваются со пятью слоями атмосферы, их полет замедляется, они раскаляются и сгорают, не причиняя землянам вреда. Прежде чем упасть на землю, метеориты сталкиваются со пятью слоями атмосферы, их полет замедляется, они раскаляются и сгорают, не причиняя землянам вреда оболочка вл...

        img(src='./img/modal-image.jpg', alt='modal', draggable='false')

        include ../tags/tags.pug

        a.next-sphere(href='#') *Смотреть следующую сферу
