block modalHtml
	.modal
		include ../buttons/close-button.pug

		.modal-content
			//- include ../buttons/modal-actions.pug

			.progress-bar
				h3#modal-title.title Атмосфера
				.line
				button.close(type='button')
					img(src='./img/close-icon.svg', alt='close')

			.overlay-bottom

			#modal-scroll.modal-content__text
				.modal-content__description

				.tags
					a.tag.primary(href='#')
						.tag-image
							img(src='./img/tag.png', alt='image')

							.tag-image__overlay
								img(src='./img/file-icon.svg', alt='file')
						div
							p Yer atmosferasi

					a.tag.primary(href='#')
						.tag-image
							img(src='./img/tag.png', alt='image')

							.tag-image__overlay
								img(src='./img/play-icon.svg', alt='play')
						div
							p Yer atmosferasi

					a.tag.primary(href='#')
						.tag-image
							img(src='./img/tag.png', alt='image')

							.tag-image__overlay
								img(src='./img/file-icon.svg', alt='file')
						div
							p Yer atmosferasi

				a.next-sphere(href='#') *Keyingi sfera
