.section.second
	img.meteor.decoration(
		src='./img/meteor.svg',
		alt='meteor',
		draggable='false'
	)

	.meteor-text.decoration-text
		p *atmosfera — meteoritlarga
		| qarshi qalqonimiz

	.container
		.question
			h2.question-title
				p Atmosfera
				p nega kerak?

			.question-description
				p Atmosfera soʻzi qadimgi yunon tilidagi ἀτμός (atmos) — “bugʻ” va σφαῖρα (sfaera) — “shar”, “sfera” soʻzlaridan olingan boʻlib, “bugʻli shar” maʼnosini beradi.

				p Atmosfera bizni oʻta kuchli qizib ketish va muzlab qolishdan himoya qilib turadi. Shuningdek, aynan u orqali koʻplab meteoritlar sayyoramizni chetlab oʻtadi. Atmosfera tarkibidagi ozon qatlami Quyoshning zararli ultrabinafsha nurlarini oʻziga singdiradi, kislorod esa inson va hayvonot olami yashashi uchun zarur. Fotosintez jarayoni atmosferadagi karbonat angidrid gazi hisobiga amalga oshadi.

				p Atmosferaning vertikal tuzilmasiga nazar solsak, undagi harorat va elektr xususiyatlar turlicha ekanini koʻrish mumkin. Shunga koʻra atmosfera quyidagi 5 asosiy qatlamga boʻlinadi: ekzosfera, termosfera, mezosfera, stratosfera va troposfera.

			a.gradient-link.primary(href='#')
				p Batafsil
				img(src='./img/link-right-arrow.svg', alt='arrow')
				input.link-id(type='hidden', value='1')

			.tags
				a.tag.primary(href='https://sinaps.uz/bilasizmi/10908/', target='_blank')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Yer atmosferasi nima?

				a.tag.primary(href='https://sinaps.uz/bilasizmi/11616/', target='_blank')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Atmosferamiz qochib ketmoqda!

				a.tag.primary(href='https://sinaps.uz/maqola/4723/', target="_blank")
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Astronomlar birinchi marta ekzosayyora atmosferasida bariy moddasini qidirib topdi

				a.tag.primary(href='https://youtu.be/x4wAynnltBc?si=lHB-UrOxImdfLxva', target="_blank")
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/play-icon.svg', alt='play')
					div
						p Yer atmosferasi haqida 80 dan ortiq fakt
