.section.second
	.container
		.question
			h2.question-title для чего нужна атмосфера ???

			.question-description
				p Свое название она получила от двух древнегреческих слов: ἀτμός – «пар» и σφαῖρα – «сфера».

				p В астрономии атмосферой принято считать газовое пространство, окружающее любое небесное тело и вращающееся вместе с ним вокруг своей оси. Атмосферу имеют практически все крупные небесные тела, особенно состоящие из газов или имеющие сходный с Землей планетный тип: Меркурий, Венера, Луна, Марс, Юпитер, Ио, Европа, Ганимед, Каллисто, Сатурн, Энцелада, Титан, Рея, Уран, Нептун, Тритон, Плутон и пр.

				p Удельная масса атмосферы Земли составляет 5,2×1018 килограмм, а высота около 1000 километров. Атмосфера Земли непостоянна, подвержена изменениями и основным

			a.gradient-link(href='#')
				p Читать всё
				img(src='./img/link-right-arrow.svg', alt='arrow')
				input.link-id(type='hidden', value='1')

			include ../../tags/tags
