.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/14.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Kaliforniyadagi Sekvoya daraxti
				p.distance Balandligi 116 m

	.interesting-item__distance 100 km
