.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(
				src='./img/interesting/fighter.jpg',
				alt='fighter',
				draggable='false'
			)

			.interesting-item__card-info
				p.title Гора Эверест (Непал)
				p.distance от Земли 8.8 км

	.interesting-item__distance 8 км
