.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/1.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title 5-avlod qiruvchi samolyotlar
				p.distance Yerdan ~ 10-20 km

	.interesting-item__distance 20 km
