.interesting-item
	.item-line
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/8.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Kondor qushi
				p.distance Yerdan ~ 3-5 km

	.interesting-item__distance 4 km
