.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/5.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Afrika kalxati
				p.distance Yerdan ~ 10-11 km

		.interesting-item__card
			img(src='./img/interesting/6.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Togʻ gʻozi
				p.distance Yerdan ~ 10-11 km

	.interesting-item__distance 10 km
