.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/8.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Прица Кондор
				p.distance от Земли ~4-5 км

	.interesting-item__distance 4 km
