.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/7.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Гора Эверест (Непал)
				p.distance от Земли 8.8 км

	.interesting-item__distance 8 km
