.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/14.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Дерево Гипериан
				p.distance высота 116 м

	.interesting-item__distance 100 км
