.interesting-item
	.item-line
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/2.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Harbiy samolyotlar
				p.distance Yerdan ~ 15-16 km

	.interesting-item__distance 16 km
