.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/9.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Kulrang loyxoʻrak qushi
				p.distance Yerdan ~ 2-3 km

		.interesting-item__card
			img(src='./img/interesting/10.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Sport samolyotlari
				p.distance Yerdan ~ 2 km

	.interesting-item__distance 2 km
