.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(
				src='./img/interesting/fighter.jpg',
				alt='fighter',
				draggable='false'
			)

			.interesting-item__card-info
				p.title Военные самолёты
				p.distance от Земли ~15-16 км

	.interesting-item__distance 16 км
