.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/12.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Мардека (Куала-Лумпур)
				p.distance от Земли ~10-20 км

		.interesting-item__card
			img(src='./img/interesting/13.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Tokyo Skytree (Токио)
				p.distance высота 634 м

	.interesting-item__distance 500 км
