.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/3.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Yoʻlovchi samolyoti
				p.distance Yerdan ~ 9-12 km

		.interesting-item__card
			img(src='./img/interesting/4.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Yuk tashuvchi samolyotlar
				p.distance Yerdan ~ 9-12 km

	.interesting-item__distance 12 km
