.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/11.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Бурдж Халифа (Дубай)

				p.distance высота 828 м

	.interesting-item__distance 700 км
