.interesting-item
	.item-line
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/12.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Merdeka minorasi (Malayziya)
				p.distance Balandligi 678,9 m

		.interesting-item__card
			img(src='./img/interesting/13.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Tokyo Skytree teleminorasi (Yaponiya)
				p.distance Balandligi 634 m

	.interesting-item__distance 500 km
