.interesting-item
	.item-line
	.interesting-item__container
		.interesting-item__card
			img(src='./img/interesting/7.jpg', alt='', draggable='false')

			.interesting-item__card-info
				p.title Everest choʻqqisi (Nepal)
				p.distance Yerdan 8,8 km

	.interesting-item__distance 8 km
