extends ../layouts/clear.pug

block mainContent
	include ../components/navigation/navbar.pug

	#fullpage
		include ../components/sections/first/first.pug
		include ../components/sections/second/second.pug
		include ../components/sections/third/third.pug
		include ../components/sections/fourth/fourth.pug
		include ../components/sections/fifth/fifth.pug
		include ../components/sections/sixth/sixth.pug
		include ../components/sections/seventh/seventh.pug

		include ../components/interesting/interesting.pug

//- include ../components/modal/modal.pug
include ../components/mobile-menu/mobile-menu.pug
