aside
	position: fixed
	left: 0
	bottom: 0
	top: 0
	z-index: 50
	display: none
	flex-direction: column
	font-family: 'Gilroy'

	padding-left: clamp(20px, 5vw, 200px)
	padding-top: 40px
	padding-bottom: 40px

	@include md
		display: flex

	ul
		display: flex
		flex-direction: column
		gap: 10px
		margin-top: auto
		pointer-events: all
		transition: all .4s linear

		li
			width: 100%
			text-align: center
			transition: all .4s linear

			&:first-child
				opacity: 0
				visibility: hidden
				margin-bottom: 15px

			&:last-child
				opacity: 0
				visibility: hidden
				height: auto
				max-height: 0
				transform: scale(0)
				transform-origin: center

			&.show
				opacity: 1
				visibility: visible
				max-height: 50px
				transform: scale(1)

			a
				font-size: 16px
				font-weight: 500
				transition: all .3s linear
				border-radius: 15px
				padding: 16px 0
				border: 1.5px solid transparent
				display: inline-block
				width: 100%

				&.light
					color: #ffffff

				&.dark
					color: #0B161F
					// +blue-nav-color

				&:hover
					border: 1.5px solid #fff

				// &:active
				// 	+gradient-nav-link
				// 	border: 1.5px solid #00EEFF !important
				// 	box-shadow: 0 0 0 4px #00F0FF59

				&.active
					border: 1.5px solid #fff

			&:has(.dark)
				a
					// &:active
					// 	+blue-nav-color
					// 	border: 1.5px solid #1078C7 !important
					// 	box-shadow: 0 0 0 4px #0039A88C

					&:hover
						// border: 1.5px solid #1078C7
						border: 1.5px solid #0B161F

					&.active
						// border: 1.5px solid #1078C7
						border: 1.5px solid #0B161F

	img
		display: block
		width: 100px
		height: 100px
		object-fit: scale-down
		user-select: none

		@include lg
			width: 160px
			height: 160px
