aside
	position: fixed
	left: 0
	bottom: 0
	top: 0
	z-index: 50
	display: none
	flex-direction: column
	font-family: 'SF-UI'
	font-weight: 500
	// pointer-events: none

	// font-size: clamp(12px, 5vw, 20px)
	padding-left: clamp(20px, 4vw, 200px)
	padding-top: 40px
	padding-bottom: 40px

	@include md
		display: flex

	ul
		display: flex
		flex-direction: column
		align-items: center
		gap: 30px
		margin-top: auto
		pointer-events: all
		transition: all .7s linear

		@include lg
			gap: 40px

		li
			transition: all .3s linear

			&:first-child
				opacity: 0
				visibility: hidden

			&:last-child
				opacity: 0
				visibility: hidden

			&.show
				opacity: 1
				visibility: visible

		a
			&.active
				font-weight: 900
				+gradient-text-color

	img
		display: block
		width: 100px
		height: 100px
		object-fit: cover
		user-select: none

		@include lg
			width: 150px
			height: 150px

		@include xl
			width: 200px
			height: 200px
