.section.third
  //- img.satellite(src='./img/satellite.svg', alt='satellite', draggable='false')
  .container
    .exosphere
      h2.exosphere-title Экзосфера

      include ../../statistic/statistic.pug

      .exosphere-description
        p Свое название она получила от древнегреческих слов ἐξω – «снаружи», «вне» и σφαῖρα – «шар», «сфера» – внешняя часть верхней атмосферы Земли.

        p Внешняя часть верхней атмосферы Земли, это верхний слой атмосферы, берущий начало на высоте обычно около 800 км от уровня моря.

        p Нижняя граница экзосферы называется экзобазой. Экзобаза определяется по равенству длины свободного пробега атомов (молекулы) высоте однородной атмосферы. Длина свободного пробега молекулы – это среднее расстояние (обозначаемое λ), которое частица пролетает за время свободного пробега от одного столкновения до следующего

      include ../../gradient-link/gradient-link
      include ../../tags/tags
