.section.third
	img.satellite.decoration(
		src='./img/satellite.svg',
		alt='satellite',
		draggable='false'
	)

	.satellite-text
		p *Здесь летают спутники

	.container
		.exosphere
			h2.exosphere-title Ekzosfera

			.statistic
				.statistic-item
					p Yerdan masofa:
					p 500–1000 km
				.statistic-item
					p Harorat:
					p −150 dan +1000 °C gacha

			.exosphere-description
				p Ekzosfera soʻzi qadimgi yunon tilidan ἐξω (ekzo) — “tashqi” va σφαῖρα (sfaera) — “shar”, “sfera” maʼnolarini anglatuvchi soʻzlardan kelib chiqqan.

				p Ekzosfera — atmosferaning dengiz sathidan taxminan 800 km balandlikda boshlanadigan eng yuqori va oxirgi qatlami (bu masofada Toshkentdan Navoiyga borib kelish masofasiga teng). Ekzosfera eng yengil kimyoviy elementlar — vodorod va geliydan tashkil topgan eng siyrak qatlamdir. Azot va kislorod atomlari ham uchrab tursa-da, ultrabinafsha nurlari ularni ionlashtirib yuboradi

				p Ekzosfera atmosferaning eng katta qatlamidir. Uning chegaralari joylashuv, fasl va quyosh faolligi singari koʻplab omillarga koʻra oʻzgarib turadi. Ekzosferaning yuqori chegarasi Yerdan taxminan 190 000 km balandda. Bu masofa Yerdan Oygacha (!) boʻlgan masofaning taxminan yarmini tashkil qiladi. Ekzosferaning pastki chegarasi ekzobaza yoki termopauza deyiladi. Ekzobaza Yerdan 500–1000 km balandlikda joylashgan.


			a.gradient-link.primary(href='#')
				p Batafsil
				img(src='./img/link-right-arrow.svg', alt='arrow')
				input.link-id(type='hidden', value='2')

			.tags
				a.tag.primary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Yer atmosferasi

				a.tag.primary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/play-icon.svg', alt='play')
					div
						p Yer atmosferasi

				a.tag.primary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Yer atmosferasi

				a.tag.primary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/play-icon.svg', alt='play')
					div
						p Yer atmosferasi
