.section.seventh
	.container
		.everest-text
			p *bu yerda Everest cho‘qqisi
			| osmon bilan yuzlashadi

		.troposphere
			h2.troposphere-title Troposfera

			.statistic
				.statistic-item
					p Yerdan masofa:
					p 0–50 km
				.statistic-item
					p Harorat:
					p −50 dan +15 °C gacha

			.troposphere-description
				p Troposfera — atmosferaning eng quyi va eng koʻp oʻrganilgan qatlami. U Yer sathidan boshlanib, qutb mintaqalarida 8–10 km, ekvatorda esa hatto 16-18 km gacha balandlikni oʻz ichiga oladi.

				p Troposfera soʻzi qadimgi yunoncha τρόπος (tropos) — “oʻzgarish”, “aralash” hamda σφαῖρα (sfaera) — ”shar”, ”sfera” soʻzlaridan olingan. Troposferada sayyoradagi barcha tirik jonzotlar — odamlar, hayvonlar va oʻsimliklar hayot kechiradi. Bundan tashqari, sayyora iqlimi va ob-havo ham shu qatlamda shakllanadi.

			a.gradient-link.secondary(href='#')
				p Batafsil
				img(src='./img/blue-gradient-arrow.svg', alt='arrow')
				input.link-id(type='hidden', value='6')

			.tags
				a.tag.secondary(href='https://sinaps.uz/maqola/4378/', target='_blank')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Perseverance kosmik kemasi ilk bora Marsda Quyosh galosini ko‘rdi

				a.tag.secondary(href='https://sinaps.uz/maqola/17039/', target='_blank')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Biz “yamaydigan” teshik. Monreal protokoli — muvaffaqiyat tarixi

				a.tag.secondary(href='https://sinaps.uz/maqola/16145/', target='_blank')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Yerdagi bakteriyalar qanday qilib “elektron lift”da XKS va undan olisga yetib bordi?