.section.seventh
	.container
		//- .everest-text
		//-   p *Здесь граничит с небом
		//-   a(href='#') Эверест

		.troposphere
			h2.troposphere-title Тропосфера

			include ../../statistic/statistic.pug

			.troposphere-description
				p Помимо воздуха тропосфера содержит 99% от общей массы водяного пара и аэрозолей, содержащихся в атмосфере.
				p Воздухом тропосферы дышат все живые организмы на Земле. Влага, конденсирующаяся в тропосфере и выпадающая с атмосферными осадками, обеспечивает человека и живые организмы питьевой водой. Тропосфера прозрачна для проходящей через нее коротковолновой солнечной радиации. Тропосфера нагревается так как поглощает космическое излучение за счет водяного пара, углекислого газа и озона. Нагревание тропосферы является причиной вертикального перемещения потоков воздуха, конденсации водяного пара, образования облаков и выпадения осадков.

			include ../../gradient-link/gradient-link
			include ../../tags/tags
