.section.seventh
	.container
		//- .everest-text
		//-   p *Здесь граничит с небом
		//-   a(href='#') Эверест

		.troposphere
			h2.troposphere-title Troposfera

			include ../../statistic/statistic.pug

			.troposphere-description
				p "Troposfera — atmosferaning eng quyi va eng koʻp oʻrganilgan qatlami. U Yer sathidan boshlanib, qutb mintaqalarida 8-10 km, ekvatorda esa hatto 16-18 km gacha balandlikni oʻz ichiga oladi.

				p Troposfera soʻzi qadimgi yunoncha τρόπος (tropos) — “oʻzgarish”, “aralash” hamda σφαῖρα (sfaera) — ”shar”, ”sfera” soʻzlaridan olingan.

				p Troposferada sayyoradagi barcha tirik jonzotlar — inson, hayvonlar, oʻsimliklar hayot kechiradi. Bundan tashqari, sayyora iqlimi va ob-havo ham shu qatlamda shakllanadi."

			a.gradient-link(href='#')
				p Читать всё
				img(src='./img/link-right-arrow.svg', alt='arrow')
				input.link-id(type='hidden', value='6')

			include ../../tags/tags
