.section.first
	.atmospheres
		h1.atmospheres-title Havo boʻylab sayohat

		.atmospheres-info
			.atmospheres-info__right
				p.atmospheres-info__layer
					span 5
					span qatlam
				.atmospheres-info__text
					h2 atmosferaning
					p Yer atmosferasi bu — sayyoramizni oʻrab olgan havo qobigʻi. U azot (78 %), kislorod (21 %), argon (0,93 %), karbonat angidrid (0,03 %) va boshqa gazlar aralashmasidan iborat. Tortishish kuchi atmosferani Yer atrofida tutib turadi va Yer yuzasidan yuzlab kilometrlargacha yuqoriga choʻzilgan boʻladi.
