.section.first
  .atmospheres
    h1.atmospheres-title воздушное путешествие

    .atmospheres-info
      .atmospheres-info__right
        p.atmospheres-info__layer
          span 5
          span слоёв
        .atmospheres-info__text
          h2 атмосферы
          p это газовая оболочка, окружающая планету Земля, удерживаемая вокруг нее силой гравитации. Пределами ее считаются непосредственно поверхность Земли и межпланетное пространство, но последняя граница весьма условна, т.к. не имеет четкой линии. Оболочка из газов, окружающая планету Земля, простирается вверх от поверхности Земли на сотни километров.
