doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tarix

        link(rel="stylesheet", href="./css/main.css")

        //Begin head custom Styles
        block headCustomCssStyle

        //Begin head custom Scripts
        block headCustomScript
    body 

        main#app
            block mainContent

    block endJsCustomScript