.conclusion.container
  h2.conclusion-title вот мы и добрались до земли

  .conclusion-content
    img(src='./img/earth.svg', alt='earth', draggable='false')
    .conclusion-info
      p.conclusion-info__question А ты знаешь что наша планета как и наша атмосфера тоже состоит из определённых слоев ?
      p.conclusion-info__layer
        span *Узнать про
        a(href='#') Слои нашей планеты
      p.conclusion-info__exclamation Мы подготовили для тебя такое же путешествие в недры Земли, переходи по ссылке и узнай из чего состоит наша планета !

  include ../tags/tags.pug
