.section.sixth
  //- img.aerostat(src='./img/aerostat.png', alt='aerostat', draggable='false')

  .container
    .stratosphere
      h2.stratosphere-title Стратосфера

      include ../../statistic/statistic.pug

      .stratosphere-description
        p Свое название она получила от латинского слова stratum – «настил, слой» Нижней границей стратосферы служит тропопауза, верхней – стратопауза. Стратосфера по своему строению не однородна. Она состоит из нескольких слоев: нижнего – более холодного и верхнего – более теплого. Увеличение температуры верхнего слоя стратосферы с высотой является результатом поглощения ультрафиолетового излучения Солнца озоновым слоем. В этом стратосфера отличается от тропосферы, расположенной вблизи поверхности Земли, где температура снижается с высотой.

        p Сама стратосфера очень разрежена, влага (водяной пар) в ней практически отсутствует, а потому в ней не образуются облака, за исключением перламутровых. Перламутровые облака представляют собой конденсационные образования, которые образуются

      include ../../gradient-link/gradient-link
      include ../../tags/tags
