.section.sixth
	img.aerostat.decoration(
		src='./img/aerostat.png',
		alt='aerostat',
		draggable='false'
	)

	.aerostat-text
		p *Здесь формируется
		| звездопад

	.container
		.stratosphere
			h2.stratosphere-title Stratosfera

			.statistic
				.statistic-item
					p Yerdan masofa:
					p 10–50 km
				.statistic-item
					p Harorat:
					p −56 dan 0 °C gacha

			.stratosphere-description
				p Stratosfera soʻzi qadimgi yunon tilidan olingan boʻlib, στρατό (strato) — “qatlam” va σφαιρα (sfaera) — “shar”, “sfera” soʻzlaridan olingan.

				p U atmosferaning dengiz sathidan taxminan 10-50 km balandlikda joylashgan qatlamini oʻz ichiga oladi. Stratosferaning quyi chegarasidagi bosim Yer yuzasidagidan taxminan 10 marta, yuqori chegarasidagi bosim esa taxminan 1000 marta past. Stratosferada gaz juda siyrak, namlik deyarli yoʻq. Stratosferadagi havo zichligi dengiz sathidagidan koʻra 10-1000 marta kichikdir. Qatlamdagi harorat mezosferaga yaqinlashgani sari koʻtarilib boraveradi. Stratosferaning quyi chegarasi — tropopauzada harorat taxminan -56,5 °C boʻlsa, yuqori chegarasi hisoblanmish stratopauzada 0-0,8 °C ni tashkil qiladi.

				p Stratosferada ozon qatlami ham joylashgan boʻlib, sayyoraga kelayotgan ultrabinafsha nurlarning zararli taʼsiridan Yerni himoya qilib turadi. Ozon qatlami boʻlmaganda Yerda hayot shakllanmagan ham boʻlar edi.

			a.gradient-link.secondary(href='#')
				p Batafsil
				img(src='./img/blue-gradient-arrow.svg', alt='arrow')
				input.link-id(type='hidden', value='5')

			.tags
				a.tag.secondary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Yer atmosferasi

				a.tag.secondary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/play-icon.svg', alt='play')
					div
						p Yer atmosferasi

				a.tag.secondary(href='#')
					.tag-image
						img(src='./img/tag.png', alt='image')

						.tag-image__overlay
							img(src='./img/file-icon.svg', alt='file')
					div
						p Yer atmosferasi
