.section.fourth
	//- img.lights(src='./img/lights.png', alt='lights', draggable='false')

	.container
		.thermosphere
			h2.thermosphere-title Термосфера

			include ../../statistic/statistic.pug

			.thermosphere-description
				p Свое название она получила от древнегреческих слов θερμός – «тёплый» и σφαῖρα — «шар», «сфера». Втермосфере (на высоте 100 км) проходит условная граница между поверхностью планеты и космическим пространством – линия Кармана, за которой газы, свойственные атмосфере, практически отсутствуют.

				p Температура воздуха в термосфере колеблется на разных уровнях, быстро и разрывно возрастает и может варьировать от -80 оС до 1727 оС, в зависимости от степени солнечной активности. Причиной является поглощение ультрафиолетового излучения Солнца на высотах 150-300 км, обусловленное ионизацией атмосферного кислорода. В нижней части термосферы рост температуры в большей степени

			a.gradient-link(href='#')
				p Читать всё
				img(src='./img/link-right-arrow.svg', alt='arrow')
				input.link-id(type='hidden', value='3')

			include ../../tags/tags
