.section.fourth
	//- img.lights(src='./img/lights.png', alt='lights', draggable='false')

	.container
		.thermosphere
			h2.thermosphere-title Termosfera

			include ../../statistic/statistic.pug

			.thermosphere-description
				p "Termosfera soʻzi qadimgi yunon tilidan θερμός (termos) — “issiq” hamda σφαῖρα (sfaera) — “shar”, sfera” maʼnolarini anglatuvchi soʻzlardan kelib chiqqan.

				p Termosfera atmosferaning eng issiq qatlamidir. Undagi havo Quyosh faolligiga qarab 500-2000 °C atrofida boʻladi. Haroratning bu qadar issiq boʻlishiga Quyoshdan kelayotgan ultrabinafsha nurlarining asosan 150-300 soʻrilishi sabab boʻladi. Shunga qaramay, issiqlik uzatuvchi gaz molekulalari juda siyrak boʻlgani sababli himoya vositalarisiz muzlab qolishingiz tayin.

				p Termosfera qutb yogʻdulari hosil boʻladigan qatlam hisoblanadi. Shuningdek, Xalqaro kosmik stansiya ham aynan shu balandlikda Yer atrofida aylanadi.

				p Termosferada sayyora yuzasi va kosmik muhit oʻrtasidagi shartli chegara — Karman chizigʻi mavjud boʻlib, Xalqaro aviatsiya federatsiyasi (FAI) ning koʻrsatmasiga binoan, u Yerdan taxminan 100 km balandlikda etib belgilangan. Karman chizigʻiga kelib, atmosferadagi gaz juda ham siyraklasha boradi. Karman chizigʻi, shuningdek davlatlarning fazodagi chegarasi aniqlanadigan balandlik hamdir."

			a.gradient-link(href='#')
				p Читать всё
				img(src='./img/link-right-arrow.svg', alt='arrow')
				input.link-id(type='hidden', value='3')

			include ../../tags/tags
